input[type="submit"] {
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	letter-spacing: 2px;
	width: 120px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	background: #607D8B;
}
